<% include header %>
<script>
  function buy() {
    let data = {'algorithm_id': 'F03', 'symbol': 'ETH/BTC', 'price': '0.005', 'qty': '2.5', 'side': 'buy'};
    $.ajax({
      type: "POST",
      url: "/api/signal",
      dataType: 'json',
      data: {data: data},
      success: function(data) {
      }
    });
  }
  function sell() {
    let data = {'algorithm_id': 'F03', 'symbol': 'ETH/BTC', 'price': '0.005', 'qty': '2.5', 'side': 'sell'};
    $.ajax({
      type: "POST",
      url: "/api/signal",
      dataType: 'json',
      data: {data: data},
      success: function(data) {
      }
    });
  }
</script>
<button onclick="buy()"> BUY </button>
<button onclick="sell()"> SELL </button>

</div></div>
<% include footer %>